body {
    background-color: #212121;
}

.splash-logo {
    text-align: center;
    animation: pulse 2s infinite ease-in-out alternate;
}

@keyframes pulse {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(0.9);
    }
}